@import 'Variables.scss';

button {
  outline: none;
  height: 30pt;
  width: 33%;
  border: 0;
  font-size: $fontButton;
  border: 1px solid black;
  border-radius: 5px;
  color: $colorButtonFont;
  background-color: $colorButton;
  &.right {
    align-self: flex-end;
  }
  &.center {
    align-self: center;
  }
  &:hover {
    text-shadow: 0px 0px $buttonTextGlow red;
    box-shadow: 0px 0px $buttonGlow $colorButtonGlow;
    border: 1px solid red;
    color: red;
  }
}
