@import 'Variables.scss';

button {
  outline: none;
  height: 30px;
  width: 33%;
  border: 0;
  font-size: $fontButton;
  border: 1px solid black;
  border-radius: 5px;
  color: $colorButtonFont;
  background-color: $colorButton;
  &.faint {
    border: 1px solid #ccc;
    color: #ccc;
  }
  &.right {
    align-self: flex-end;
  }
  &.center {
    align-self: center;
  }
  &:hover {
    text-shadow: 0px 0px $buttonTextGlow $colorSelected;
    box-shadow: 0px 0px $buttonGlow $colorSelected;
    border: 1px solid $colorSelected;
    color: $colorSelected;
  }
}

.modeButtons {
  display: flex;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: $spacing1;
  .ModeButton,
  .DataButton {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // outline: none;
    border: 1px solid #ccc;
    width: 100px;
    font-size: $fontButton;
    color: grey;
    &.selected {
      background-color: rgba(255, 0, 0, 0.85);
      color: white;
      border: 1px solid red;
    }
    &:hover {
      z-index: 100;
      box-shadow: 0px 0px $buttonGlow $colorSelected;
      background-color: rgba(255, 0, 0, 0.85);
      color: white;
      border: 1px solid red;
    }
    &.first {
      border-radius: 5px 0 0 5px;
      border-right: 0px solid #ccc;
    }
    &.center {
      border-right: 0px solid #ccc;
    }
    &.last {
      border-radius: 0 5px 5px 0;
    }
  }
}
