@import 'Variables.scss';

* {
	box-sizing: border-box;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color:inherit;
}

.App {
  height: 100vh;
  background-color: $colorBackground;
  background-color: rgb(114, 114, 114);
  background-color: white;
}