@import 'Variables.scss';
@import 'Buttons.scss';

.Chart {
  width: 100%;
  height: 100%;
  border: $devBorder solid cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.hidden {
    display: none;
  }
  .title {
    text-align: center;
    margin-bottom: $spacing2;
  }
  .controls {
    border: $devBorder solid red;
    width: 100%;
    max-width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .modeButtons {
      border: $devBorder solid red;
    }
    @media only screen and (min-width: 550px) {
      flex-direction: row;
    }

    @media only screen and (min-width: 800px) {
      max-width: 450px;
    }
  }

  .LineChart {
    border: $devBorder solid lime;
    height: 40vh;
    width: 100%;

    @media only screen and (min-width: 750px) {
      height: 70vh;
    }

    .chartNarrow,
    .chartNormal,
    .chartWide {
      width: 100%;
      height: 100%;
      display: none;
    }

    .chartNarrow {
      display: block;
    }

    @media only screen and (min-width: 500px) {
      .chartNormal {
        display: block;
      }
      .chartNarrow,
      .chartWide {
        display: none;
      }
    }

    @media only screen and (min-width: 1000px) {
      .chartWide {
        display: block;
      }
      .chartNormal,
      .chartNarrow {
        display: none;
      }
    }
  }

  .note {
    border: $devBorder solid red;
    font-size: 0.8rem;
    color: red;
    margin-top: $spacing1;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
