@import 'Variables.scss';
@import 'Section.scss';
@import 'Form.scss';

.bottom {
  height: 100%;
  overflow: scroll;
}

.CountryList {
  border: $devBorder solid magenta;
  width: 100%;
  margin-bottom: $spacing2;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-column-gap: $spacing1;

  .countryContainer {
    display: flex;
    justify-content: center;
  }

  .Country {
    cursor: pointer;
    justify-self: center;
    width: 100%;
    max-width: 250px;
    border: $devBorder solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &.checked {
      color: $colorSelected;
    }
    &.true {
      color: #999;
      &:hover {
        color: #999;
      }
    }
    &:hover {
      color: $colorSelected;
    }

    .checkBox {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: $spacing;
      // display: none;

      &.checked {
        color: $colorSelected;
      }
    }
    .flag {
      width: 24px;
      height: 16px;
      border: 0.5px solid #ccc;
      text-shadow: 0 0 2px 0 grey;
      margin-right: $spacing1;
    }
    .countryName {
      font-size: 0.85rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
