@import 'Variables.scss';
@import 'Section.scss';
@import 'Button.scss';

.Home {
  position: relative;
  background: url('../images/coronaHeroImage.jpg') no-repeat center center/cover;
  height: 100vh;
  margin: -$spacing3;
  margin-top: -($navHeight + $spacing3);
  display: flex;
  justify-content: center;
  align-items: center;
  .buttons {
    width: 100%;
    padding: $spacing2;
    border: $devBorder solid magenta;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      margin: $spacing2 0;
      width: 100%;
      max-width: 250px;
    }
  }
}
