@import 'Variables.scss';

.Logo {
  border: $devBorder solid cyan;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .LogoImage {
    height: 40px;
    margin-right: 10px;
  }
  .LogoText {
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    font-size: 1rem;
  }
}
